* {
  box-sizing: border-box;
}
td {
  border: 3px solid white;
  height: 110px;
  width: 110px;
  font-family: "Walter Turncoat", Arial;
  color: white;
}
.square {
  font-size: 70px;
  text-align: center;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#zero {
  border-left: none;
  border-top: none;
}
#one {
  border-top: none;
}
#two {
  border-top: none;
  border-right: none;
}
#three {
  border-left: none;
}
#five {
  border-right: none;
}
#six {
  border-left: none;
  border-bottom: none;
}
#seven {
  border-bottom: none;
}
#eight {
  border-right: none;
  border-bottom: none;
}
h1 {
  text-align: center;
  font-family: "Walter Turncoat", Arial;
  color: white;
}

.status {
  text-align: center;
  font-family: "Walter Turncoat", Arial;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

body {
  background: #346b31;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  font-family: "Walter Turncoat", Arial;
  color: white;
  text-align: center;
}
#Xbutton,
#Obutton,
#onePlayerBtn,
#twoPlayerBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.gameplay {
  font-size: 2rem;
}

.gameplay-btn {
  width: 5rem;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
